<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#" data-tab="main">
                        <i class="bi bi-house-door"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-tab="folders">
                        <i class="bi bi-folder"></i> Folders
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-tab="files">
                        <i class="bi bi-file-earmark"></i> Files
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-tab="history">
                        <i class="bi bi-clock-history"></i> History
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav> 